altgraph==0.17.5
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
colorama==0.4.6
cryptography==50.0.0
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
idna==3.18
iniconfig==2.3.0
numpy==2.5.1
openpyxl==3.1.5
packaging==26.3
pandas==2.3.1
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2024.8.26
pillow==11.3.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyMuPDF==1.26.3
pypdfium2==5.12.1
pytesseract==0.3.13
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
pywin32-ctypes==0.2.3
requests==2.32.5
ruff==0.12.7
setuptools==83.0.0
six==1.17.0
tkinterdnd2==0.4.3
tzdata==2026.3
urllib3==2.7.0
